@model eCommerce.cs.Data.Entities.SpecialTag
@{
    ViewData["Title"] = "Special Tags";
}

<div class="panel panel-default">
    <div class="panel-heading text-center">
        DELETE THE EXISTING SPECIAL TAG
    </div>
    <div class="panel-body text-center">
        Are you sure you want to delete the <strong>@Model.TagName</strong> special tag?
    </div>
    <hr style="margin: 0" />
    <div class="panel-body text-center">
        <a asp-action="Index" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Back to List
        </a>
        <button asp-route-id="@Model.TagID" type="submit" class="btn btn-danger" onclick="event.preventDefault(); document.getElementById('delete-form').submit();">
            Delete
        </button>
        <form id="delete-form" method="post" asp-action="Delete" style="display: none;" class="form-horizontal">
            <input type="hidden" asp-for="TagID" />
            <input asp-for="TagName" disabled class="form-control" autocomplete="off">
        </form>
    </div>
</div>