/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 70px;
    padding-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    background: #F9F9F9;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Container */
.container {
    width: 768px;
}

/* Navbar */
.navbar {
    background: #FFFFFF;
}
.navbar ul li a {
    text-transform: uppercase;
}

/* Button */
.btn {
    border-radius: 0;
    text-transform: uppercase;
}

/* Panel */
.panel {
    border-radius: 0;
}
.panel .panel-heading {
    border-radius: 0;
}
.panel .panel-body {
    border-radius: 0;
}

/* Alert */
.alert {
    border-radius: 0;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
