@model eCommerce.cs.Data.Entities.ProductType
@{
    ViewData["Title"] = "Product Types";
}

<div class="panel panel-default">
    <div class="panel-heading text-center">
        DELETE THE EXISTING PRODUCT TYPE
    </div>
    <div class="panel-body text-center">
        Are you sure you want to delete the <strong>@Model.ProductName</strong> product type?
    </div>
    <hr style="margin: 0" />
    <div class="panel-body text-center">
        <a asp-action="Index" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Back
        </a>
        <button asp-route-id="@Model.ProductID" type="submit" class="btn btn-danger" onclick="event.preventDefault(); document.getElementById('delete-form').submit();">
            <span class="glyphicon glyphicon-trash"></span>
            Delete
        </button>
        <form id="delete-form" method="post" asp-action="Delete" style="display: none;" class="form-horizontal">
            <input type="hidden" asp-for="ProductID" />
            <input asp-for="ProductName" disabled class="form-control" autocomplete="off">
        </form>
    </div>
</div>