@{
    ViewData["Title"] = "Product Types";
}

<div class="panel panel-default">
    <div class="panel-heading text-center">
        PRODUCT TYPES
    </div>
    <div class="panel-body text-right">
        <a asp-action="Create" class="btn btn-primary btn-sm">Create a New Product Type</a>
    </div>
    <hr style="margin: 0" />
    <div class="panel-body">
        <div style="margin: 0" class="alert alert-info" role="alert">
            There is no any value to show here.
        </div>
    </div>
</div>